<div>
  <nav class="navbar fixed-bottom" id="navbarFooterFlex">
    <a href="https://github.com/christianvajgel/"><img id="githubLogo" src="https://raw.githubusercontent.com/christianvajgel/HeroIT_assets/master/img/github_icon_48px.png?token=AJKSRXBPAXIFREXKZK67INS6PCZYW" height="27" width="27" alt="github logo"/></a>
    <a href="https://www.linkedin.com/in/christianvajgel/"><img id="linkedinLogo" src="https://raw.githubusercontent.com/christianvajgel/HeroIT_assets/master/img/linkedin_icon_48px.png?token=AJKSRXEVLK6WYK473RNEK5S6PCZVY" height="27" width="30" alt="linkedin logo"/></a>
  </nav>
</div>
