<div>
  <div id="mainDiv">
    <img src="https://raw.githubusercontent.com/christianvajgel/HeroIT_assets/master/img/heroit_logo_720px.png?token=AJKSRXAGOR2EMAS7AJVURT26PC2IE"
         height="400"
         width="600"
         alt="hero main logo"
         id="mainLogo"/>
  </div>
  <table align="center">
    <tr>
      <td class="tableElement">
        <img src="https://raw.githubusercontent.com/christianvajgel/HeroIT_assets/master/img/hero_icon_75px.png?token=AJKSRXDCQ3HGNFWUGQQM5CC6PC2CS"
               height="60"
               width="60"
               alt="hero icon"/>
      </td>
      <td class="tableElement">
        <img id="imgLeague" src="https://raw.githubusercontent.com/christianvajgel/HeroIT_assets/master/img/badge_icon_75px.png?token=AJKSRXGPWDJXFKXXLQSTC4S6PCZ3G"
               height="60"
               width="60"
               alt="hero badge icon"/>
      </td>
    </tr>
    <tr>
      <td class="tableElement">
        <button type="submit" class="btn btn-outline-warning" routerLink="create">Create Hero</button>
      </td>
      <td class="tableElement">
        <button type="submit" class="btn btn-outline-warning" routerLink="list">List Heroes</button>
      </td>
    </tr>
  </table>
</div>
